public/
content/post/*.html
content/post/*_cache/*
content/post/*_files/*
content/post/*_images/*
static/*
.Rproj.user
.Rproj.user/*
.RData
.Rhistory
material/*
*.DS_Store
blogdown/*
content/post/srtm.zip
content/post/cut_n00e090.tif
content/post/country.rds
content/post/srtm_cropped.tif
content/post/srtm_masked.tif
content/post/worldpop.tif
content/post/provinces.rds
content/post/country_mask.tif
content/post/country_mask.tif.aux.xml
figures/*
